<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>cadUsuario</display-name>
    <servlet-name>cadUsuario</servlet-name>
    <servlet-class>cadUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadUsuario</servlet-name>
    <url-pattern>/cadUsuario</url-pattern>
  </servlet-mapping>
  <display-name>CafeDaManhaWEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cadusuario_Servlet</display-name>
    <servlet-name>cadusuario_Servlet</servlet-name>
    <servlet-class>cadUsuario.cadusuario_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadusuario_Servlet</servlet-name>
    <url-pattern>/cadusuario_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastrarItemController</display-name>
    <servlet-name>cadastrarItemController</servlet-name>
    <servlet-class>controller.cadastrarItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarItemController</servlet-name>
    <url-pattern>/cadastrarItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastrarUsuarioController</display-name>
    <servlet-name>cadastrarUsuarioController</servlet-name>
    <servlet-class>controller.cadastrarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarUsuarioController</servlet-name>
    <url-pattern>/cadastrarUsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>consultarItem</display-name>
    <servlet-name>consultarItem</servlet-name>
    <servlet-class>controller.consultarItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>consultarItem</servlet-name>
    <url-pattern>/consultarItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>consultarItemController</display-name>
    <servlet-name>consultarItemController</servlet-name>
    <servlet-class>controller.consultarItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>consultarItemController</servlet-name>
    <url-pattern>/consultarItemController</url-pattern>
  </servlet-mapping>
</web-app>